<a href="https://colab.research.google.com/github/yuzhenke1122/Tableau_spotify_top200_streams/blob/main/data_cleaning_for_spotify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import drive
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import numpy as np
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
# Shared link from my google drive
# https://drive.google.com/file/d/1P2dghw51Ur6iU-32LAVDRk6roPPOREqh/view?usp=sharing

id = "1P2dghw51Ur6iU-32LAVDRk6roPPOREqh"
file = drive.CreateFile({'id':id})
file.GetContentFile("Spotify_Top200_Viral50.csv")

In [ ]:
# Import dataset as SF_crimes_1
spotify_200_50 = pd.read_csv("Spotify_Top200_Viral50.csv")

In [ ]:
spotify_200_50.shape

(26173514, 9)

In [ ]:
print(spotify_200_50.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26173514 entries, 0 to 26173513
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   rank     int64
 2   date     object
 3   artist   object
 4   url      object
 5   region   object
 6   chart    object
 7   trend    object
 8   streams  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.8+ GB
None

In [ ]:
spotify_200_50['rank'].unique() # don't need

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 155, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200])

In [ ]:
spotify_200_50['date'].unique()

array(['2017-01-01', '2017-01-02', '2018-03-01', ..., '2021-10-31',
       '2017-05-30', '2017-05-31'], dtype=object)

In [ ]:
spotify_200_50['trend'].unique() # don't need

array(['SAME_POSITION', 'MOVE_UP', 'MOVE_DOWN', 'NEW_ENTRY'], dtype=object)

In [ ]:
spotify_200_50['chart'].unique() # don't nee

array(['top200', 'viral50'], dtype=object)

In [ ]:
viral_50 = spotify_200_50[spotify_200_50['chart'] == 'viral50']
viral_50.head(10)

,title,rank,date,artist,url,region,chart,trend,streams
12808,Boys,13,2017-08-01,Charli XCX,https://open.spotify.com/track/5o4yGlG0PfeVUa6...,Latvia,viral50,MOVE_UP,NaN
12965,Hold Me,19,2017-08-01,R3HAB,https://open.spotify.com/track/2a9xGmpgNyNz9QV...,Luxembourg,viral50,MOVE_DOWN,NaN
13781,Hola Hola,40,2017-08-01,KARD,https://open.spotify.com/track/3VC1IEz9M1txlMS...,Peru,viral50,NEW_ENTRY,NaN
14042,Cuídate,4,2017-08-01,Zetazen,https://open.spotify.com/track/0WgnbqlHieZmdYa...,Spain,viral50,SAME_POSITION,NaN
14092,Boys,13,2017-08-01,Charli XCX,https://open.spotify.com/track/5o4yGlG0PfeVUa6...,Taiwan,viral50,MOVE_DOWN,NaN
15322,DINOSAUR,14,2017-08-01,AKMU,https://open.spotify.com/track/3UMjZ9bAT1AnpcW...,Taiwan,viral50,MOVE_UP,NaN
15740,Spice Girl,33,2017-08-02,Aminé,https://open.spotify.com/track/4HW5kSQ8M2IQWZh...,Canada,viral50,MOVE_DOWN,NaN
16161,Praying,38,2017-08-02,Kesha,https://open.spotify.com/track/79NlESqzFSW0hdB...,Costa Rica,viral50,MOVE_UP,NaN
17369,Una Na,39,2017-08-02,Lali,https://open.spotify.com/track/2LqIRA261mwY69K...,Costa Rica,viral50,MOVE_UP,NaN
21585,El Farsante,3,2017-08-02,Ozuna,https://open.spotify.com/track/2LW4Zu7FcrwjWm3...,Panama,viral50,MOVE_UP,NaN

In [ ]:
spotify_top200 = spotify_200_50[spotify_200_50['chart'] == 'top200']
spotify_top200.head(10)

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.000
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.000
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.000
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.000
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.000
5,Traicionera,6,2017-01-01,Sebastian Yatra,https://open.spotify.com/track/5J1c3M4EldCfNxX...,Argentina,top200,MOVE_DOWN,151140.000
6,Cuando Se Pone a Bailar,7,2017-01-01,Rombai,https://open.spotify.com/track/1MpKZi1zTXpERKw...,Argentina,top200,MOVE_DOWN,148369.000
7,Otra vez (feat. J Balvin),8,2017-01-01,Zion & Lennox,https://open.spotify.com/track/3QwBODjSEzelZyV...,Argentina,top200,MOVE_DOWN,143004.000
8,La Bicicleta,9,2017-01-01,"Carlos Vives, Shakira",https://open.spotify.com/track/0sXvAOmXgjR2QUq...,Argentina,top200,MOVE_UP,126389.000
9,Dile Que Tu Me Quieres,10,2017-01-01,Ozuna,https://open.spotify.com/track/20ZAJdsKB5IGbGj...,Argentina,top200,MOVE_DOWN,112012.000

In [ ]:
spotify_top200 = spotify_top200[['title', 'date', 'artist', 'region', 'streams']]
spotify_top200.head(10)

,title,date,artist,region,streams
0,Chantaje (feat. Maluma),2017-01-01,Shakira,Argentina,253019.000
1,Vente Pa' Ca (feat. Maluma),2017-01-01,Ricky Martin,Argentina,223988.000
2,Reggaetón Lento (Bailemos),2017-01-01,CNCO,Argentina,210943.000
3,Safari,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",Argentina,173865.000
4,Shaky Shaky,2017-01-01,Daddy Yankee,Argentina,153956.000
5,Traicionera,2017-01-01,Sebastian Yatra,Argentina,151140.000
6,Cuando Se Pone a Bailar,2017-01-01,Rombai,Argentina,148369.000
7,Otra vez (feat. J Balvin),2017-01-01,Zion & Lennox,Argentina,143004.000
8,La Bicicleta,2017-01-01,"Carlos Vives, Shakira",Argentina,126389.000
9,Dile Que Tu Me Quieres,2017-01-01,Ozuna,Argentina,112012.000

In [ ]:
spotify_top200.shape

(20321904, 5)

In [ ]:
print(spotify_200_50['date'].unique())

['2017-01-01' '2017-01-02' '2018-03-01' ... '2021-10-31' '2017-05-30'
 '2017-05-31']

In [ ]:
#df['Date']= pd.to_datetime(df['Date'])

spotify_top200['date'] = pd.to_datetime(spotify_top200['date'])

In [ ]:
spotify_top200.head(10)

,title,date,artist,region,streams
0,Chantaje (feat. Maluma),2017-01-01,Shakira,Argentina,253019.000
1,Vente Pa' Ca (feat. Maluma),2017-01-01,Ricky Martin,Argentina,223988.000
2,Reggaetón Lento (Bailemos),2017-01-01,CNCO,Argentina,210943.000
3,Safari,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",Argentina,173865.000
4,Shaky Shaky,2017-01-01,Daddy Yankee,Argentina,153956.000
5,Traicionera,2017-01-01,Sebastian Yatra,Argentina,151140.000
6,Cuando Se Pone a Bailar,2017-01-01,Rombai,Argentina,148369.000
7,Otra vez (feat. J Balvin),2017-01-01,Zion & Lennox,Argentina,143004.000
8,La Bicicleta,2017-01-01,"Carlos Vives, Shakira",Argentina,126389.000
9,Dile Que Tu Me Quieres,2017-01-01,Ozuna,Argentina,112012.000

In [ ]:
spotify_top200.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20321904 entries, 0 to 25276073
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   date     datetime64[ns]
 2   artist   object
 3   region   object
 4   streams  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 930.3+ MB

In [ ]:
test = spotify_top200[spotify_top200['date'] >= '2019-01-01']
test.head(10)

           title       date        artist    region   streams
19128    Ride It 2020-05-01        Regard   Bolivia  1956.000
19234     +Linda 2020-05-01         Dalex   Bolivia  1953.000
19287       Woah 2020-05-01      Lil Baby    Canada 35211.000
19390       25/8 2020-05-01     Bad Bunny     Chile 31854.000
19698       Keii 2020-05-01      Anuel AA  Colombia 16155.000
20166    Ride It 2020-05-01        Regard   Ecuador  5999.000
20427  Hei rakas 2020-05-01          BEHM   Finland 28838.000
28326     Tel Me 2020-05-01    Jul, Ninho    France 33011.000
28645      GOOBA 2020-06-01       6ix9ine   Austria 22249.000
28799         P2 2020-05-01  Lil Uzi Vert    Latvia  1193.000

In [ ]:
print(test['date'].unique())

['2020-05-01T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2021-07-01T00:00:00.000000000' ... '2021-08-31T00:00:00.000000000'
 '2021-10-30T00:00:00.000000000' '2021-10-31T00:00:00.000000000']

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13196069 entries, 19128 to 24883381
Data columns (total 5 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   date     datetime64[ns]
 2   artist   object
 3   region   object
 4   streams  float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 604.1+ MB

In [ ]:
test.shape

(13196069, 5)

In [ ]:
test.isnull().sum()

title      7
date       0
artist     0
region     0
streams    0
dtype: int64

In [ ]:
# Export file
test.to_csv('spotify_top200.csv')
# !cp data.csv 'drive/My Drive/Dataset file/Datasets/Crimes Data/SF Crimes'
from google.colab import files
files.download('spotify_top200.csv')